---
// Our 6 step process
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";
import Banner from "../components/ui/Banner.astro";
type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  svg: string;
  bug: string;
  image: string;
  alt: string;
  url: string;
}>;

const { frontmatter, compiledContent } = Astro.props;
import './Bug.css';
---

<Layout title={frontmatter.title}>
  <div class="container mx-auto mt-14">
    <div class="mx-4 w-fit rounded bg-army-100 p-4 font-bold">
      <a href="/pest-control" class="underline">/pest-control</a>{
        frontmatter.url.slice(13)
      }
    </div>
    <div class="flex items-center gap-4 px-4">
      <div
        class="flex h-[80px] w-[80px] shrink-0 items-center justify-center rounded bg-army-200 p-3 transition-colors group-hover:bg-army-400"
      >
        <object
          class="pointer-events-none h-full w-full group-hover:animate-[shake_120ms_linear_infinite]"
          data={`/pest/${frontmatter.svg}`}
          type=""></object>
      </div>
      <h1>{frontmatter.title}</h1>
    </div>
    <div class="mx-4 grid grid-cols-12">
      <div class="col-span-12 md:col-span-8 xl:col-span-6">
        <img
          src={frontmatter.image}
          alt={frontmatter.alt}
          class="max-h-[70vh] rounded-md"
        />
        <div class="my-10">
          <slot />
        </div>
      </div>
    </div>
  </div>
  <Banner cta={`Book ${frontmatter.bug} Control Now`} />
</Layout>

