---
// Our 6 step process
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";
import ButtonLink from "../../components/ui/ButtonLink.astro";
import Banner from "../../components/ui/Banner.astro";

type Pest = {
  name: string;
  file: string;
  url: string;
};

const pests: Pest[] = [
  {
    name: "Ants",
    file: "ant.svg",
    url: "ants",
    // colonial type of pest. very similar to termites. kill the queen. give them bait to give back to the queen.
  },
  {
    name: "Beetles",
    file: "beetle.svg",
    url: "beetles",
    //
  },
  {
    name: "Bees",
    file: "bee.svg",
    url: "bees",
  },
  {
    name: "Bed Bugs",
    file: "bedbug.svg",
    url: "bed-bugs",
  },
  {
    name: "Birds",
    file: "bird.svg",
    url: "birds",
  },
  {
    name: "Crickets",
    file: "cricket.svg",
    url: "crickets",
  },
  {
    name: "Fleas",
    file: "flea.svg",
    url: "fleas",
  },
  {
    name: "Flies",
    file: "fly.svg",
    url: "flies",
  },
  {
    name: "Mosquitoes",
    file: "mosquito.svg",
    url: "mosquitoes",
  },
  {
    name: "Roaches",
    file: "roach.svg",
    url: "roaches",
  },
  {
    name: "Rodents",
    file: "rodent.svg",
    url: "rodents",
  },
  {
    name: "Spiders",
    file: "spider.svg",
    url: "spiders",
  },
  {
    name: "Scorpions",
    file: "scorpion.svg",
    url: "scorpions",
  },
  {
    name: "Termites",
    file: "termite.svg",
    url: "termites",
  },
  {
    name: "Ticks",
    file: "tick.svg",
    url: "ticks",
  },
  {
    name: "Wasps",
    file: "wasp.svg",
    url: "wasps",
  },
];

const pestsSorted = pests.sort(({ name: a }, { name: b }) =>
  a.localeCompare(b)
);

type Step = {
  title: string;
  description: string;
  bgImage: string;
};

const sixSteps: Step[] = [
  {
    title: "Exterior Barrier",
    description:
      "We spray a robust exterior barrier that goes three feet up and five feet out with a power sprayer to protect your family.",
    bgImage: "/general/days/Crocodile.svg",
  },
  {
    title: "Eaves Dusting",
    description: "We dust your eaves ridding them of all webs.",
    bgImage: "/general/days/Death.svg",
  },
  {
    title: "Plant Granulation",
    description:
      "Granulate all the plants around your home. These granules when touched by water, usually rain or irrigation, heat up and force insects out of their hiding spots.",
    bgImage: "/general/days/Flower.svg",
  },
  {
    title: "Scorpion Dusting",
    description:
      "We dust all your block walls with a product proven to kill scorpions (block walls are the #1 hiding spot for scorpions).",
    bgImage: "/general/days/Jaguar.svg",
  },
  {
    title: "Baseboard Protection",
    description:
      "We come inside your property and we spray all of your baseboards creating a double barrier.",
    bgImage: "/general/days/Rain.svg",
  },
  {
    title: "Plumbing Intrusion Treatment",
    description:
    "Even the smallest opening in your plumbing can be an entryway for insects. Our comprehensive treatment ensures all intrusion points are covered, making your home bug-free.",
    bgImage: "/general/days/Flint.svg",
  },
];

const reasons: Step[] = [
  {
    title: "Local Expertise",
    description:
      "Living in Arizona means dealing with unique pest challenges. Our team of skilled technicians understands the specific pest issues that homeowners face in this region. From scorpions and termites to ants and rodents, we have the expertise to identify, treat, and prevent a wide range of pests that are common from Scottsdale, Peoria, Glendale, Anthem, and beyond all across the Phoenix Arizona Metro Area.",
    bgImage: "/general/days/Crocodile.svg",
  },
  {
    title: "Customized Approach",
    description:
      "At Azteca Home Services, we believe in providing tailored solutions to meet your specific needs. We understand that every home is different, and so are the pest problems. Our team will conduct a thorough inspection of your property to identify the root cause of the infestation. Based on our findings, we will develop a customized treatment plan that effectively eliminates pests and prevents future invasions.",
    bgImage: "/general/days/Crocodile.svg",
  },
  {
    title: "Environmentally Friendly Solutions",
    description:
      "We prioritize the safety of your family, pets, and the environment. Our pest control methods are designed to minimize the use of harsh chemicals while still delivering exceptional results. We utilize eco-friendly products and techniques that effectively target pests without causing harm to your loved ones or the surrounding ecosystem.",
    bgImage: "/general/days/Crocodile.svg",
  },
  {
    title: "Exceptional Customer Service",
    description:
      "Your satisfaction is our top priority. Our friendly and professional team is dedicated to providing you with exceptional customer experience from start to finish. We take the time to listen to your concerns, answer your questions, and address any pest-related issues you may have. With Azteca Home Services, you can expect prompt, reliable, and courteous service every step of the way. Our Goal is to Become Your Exterminator of Choice",
    bgImage: "/general/days/Crocodile.svg",
  },
  {
    title: "Long-Term Protection",
    description:
      "Our goal is not just to eliminate pests temporarily but to provide long-term protection for your home. We offer comprehensive pest management plans that include regular inspections and preventive treatments to ensure that pests stay away for good. Our proactive approach helps you maintain a pest- free environment and gives you peace of mind knowing that your home is protected year-round.",
    bgImage: "/general/days/Crocodile.svg",
  },
];
// description:
// "When your home is built, contractors automatically make a giant hole that the pipes rarely fill. Insects take advantage of this gap so we treat all of your plumbing intrusions which is one of the most forgotten areas and is a highway for insects to come into your home.",
---

<Layout title="Pest Control">
  <main>
    <section
      class="justify-top relative flex h-[75vh] flex-col items-center bg-army-900 sm:justify-center"
    >
      <div class="hero contents">
        <Picture
          src="/general/truck.webp"
          alt="AZTECA Pest Control truck in front of house"
          objectFit="cover"
          objectPosition="center"
        />
      </div>
      <div class="container absolute z-10 mx-auto flex flex-col gap-4 p-4">
        <h2
          class="max-w-[600px] rounded bg-army-50/60 p-4 text-3xl text-army-900 drop-shadow-2xl backdrop-blur-sm"
        >
          Keep Your Property <b>Pest-Free</b> with Our <b
            >Comprehensive Control Solutions</b
          >
        </h2>
        <ButtonLink
          content="Schedule an Appointment"
          url="/contact"
          addBorder
        />
      </div>
    </section>

    <Banner cta="Bid farewell to creepy crawlers" />

    <section class="container mx-auto p-4 py-8"> 
      <h4 class="col-span-12 py-4 text-4xl font-bold max-w-3xl">Welcome to Azteca Home Services - <br/>
Your Trusted Pest Control Experts in
Phoenix, Arizona Metro Area
      </h4>
    </section>

    <div class="bg-army-200 py-4">
    <section class="container mx-auto p-4">
      <h4 class="col-span-12 max-w-3xl text-3xl py-4 font-bold">Effective Pest Control Solutions Tailored for Arizona Homes Throughout Phoenix</h4>

      <p class="max-w-prose py-4 text-2xl accent-font">Are pests invading your home and disrupting your peace of mind? Look no further than Azteca Home Services for reliable and effective pest control solutions in Phoenix, Arizona. With our extensive knowledge of local pests and years of experience, we are committed to providing you with a pest-free environment that you and your family deserve.</p>
    </section>
    </div>

    <section class="container mx-auto p-4">
      <h4 class="col-span-12 py-4 text-3xl font-black uppercase">
        Pests We Handle
      </h4>
      <ul class="grid grid-cols-12 gap-4 text-xl">
        {
          pestsSorted.map(({ name, file, url }) => (
            <li class="group col-span-6 gap-2 sm:col-span-4 md:col-span-3 lg:col-span-2">
              <!--TODO: use URL -->
              <a
                href={`/pest-control/${url}`}
                class="flex flex-col items-center justify-center gap-2"
              >
                <div class="bg-army-200 group-hover:bg-army-400 flex h-[100px] w-[100px] items-center justify-center rounded p-3 transition-colors">
                  <object
                    class="pointer-events-none h-full w-full group-hover:animate-[shake_120ms_linear_infinite]"
                    data={`/pest/${file}`}
                    type=""
                  />
                </div>
                <h2 class="group-hover:underline">{name}</h2>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    
    <section class="mt-36 flex justify-center bg-army-200">
      <div class="container flex flex-col items-center justify-center p-8">
        <p>
          <h2 class="text-center text-4xl">
            Over <b>10 Years</b> of Experience Using <br />
            <dfn title="Integrated Pest Management"
              ><u><b>Integrated Pest Management</b></u></dfn
            >
          </h2>
          <em class="text-2xl">(noun)</em>
          <span class="max-w-prose text-2xl">
            a <u>modern</u> and <u>sustainable</u> approach to pest control that
            uses
            <u>eco-friendly</u> methods to manage pests while minimizing the use
            of harmful chemicals. Our tailored IPM programs are designed to save
            you money by <u>preventing pest problems before they occur</u>,
            ensuring your property is protected from pests in a safe, effective,
            and environmentally responsible manner.
          </span>
        </p>
      </div>
    </section>

    <Banner cta="Get pest control now!" />

    <section class=" py-8 bg-army-100">
      <div class="container mx-auto flex flex-col items-center">
      <h2
        class="sticky lg:relative lg:top-auto top-[150px] max-w-[400px] p-4 text-center text-3xl font-bold"
      >
        Our Six-Step Pest Control Initial:
      </h2>
      <ol
        class="initialList sticky lg:relative lg:top-auto top-[200px] grid grid-rows-6 gap-3 p-3 text-xl lg:grid-cols-3 lg:grid-rows-2"
      >
        {
          sixSteps.map(({ title, description, bgImage }, i) => (
            <li class={`bg-army-100 sticky lg:relative lg:top-auto top-[250px] text-left z-10 flex max-w-[400px] flex-col content-start items-center gap-2 rounded-lg p-8 `} data-image-url="/general/days/Crocodile.svg" style={`--image-url: url('${bgImage}');`}>
              <h3 class="text-2xl font-bold w-full ">{`${i+1}. ${title}`}</h3>
              <p class="text-xl drop-shadow w-full">{description}</p>
            </li>
          ))
        }
      </ol>
      </div>
    </section>

    <section class=" py-8 bg-army-50">
      <div class="container mx-auto flex flex-col items-center">
      <h2
        class="lg:relative lg:top-auto top-[150px] max-w-[400px] p-4 text-center text-4xl font-black"
      >
        Why choose AZTECA Home Services?
      </h2>
      <ol
        class="grid grid-rows-5 gap-3 p-3 text-xl lg:grid-cols-2 lg:grid-rows-3"
      >
        {
          reasons.map(({ title, description, bgImage }, i) => (
            <li class={`bg-army-100 text-left z-10 flex max-w-prose flex-col content-start items-center gap-2 rounded-lg p-8 `} data-image-url="/general/days/Crocodile.svg" style={`--image-url: url('${bgImage}');`}>
              <h3 class="text-2xl font-bold w-full ">{`${i+1}. ${title}`}</h3>
              <p class="text-xl drop-shadow w-full">{description}</p>
            </li>
          ))
        }
      </ol>
      </div>
    </section>
  </main>
</Layout>
<style is:global>
  @keyframes shake {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  .initialList {
    scroll-snap-type: y mandatory;
  }

  /* Proof of concept: https://codepen.io/xav-ie/pen/poOqQme?editors=0100
   * 
   * The purpose of the weird ::before is because:
   * I want the ::before element wrapping the shadow of each <li>. The reason I want to wrap 
   * shadows because they stack on top of each other, so I want the ::before to have the same 
   * color as the page background. This will create the illusion of shadows not stacking!
   * 
   * Why not have ::before wrap the shadow? This is because applying `position: sticky` to the
   * <li> breaks z-index values and does not work as expected (if you don't know how ::before 
   * works and stacking contexts work). 
   * 
   * Trying to set the ::before element to be behind the the <li> will NOT work. 
   * I tried and it only puts it behind the content/text of the <li>. The background of 
   * the <li> cannot be put in front of the ::before element because the <li> is (a) sticky
   * which does not respect stacking contexts and (b) holds the ::before element within it, 
   * naturally not allowing its children to be stacked behind it.
   * 
   * There *is* a way to put the ::before element behind the <li> by applying `translateZ(-1px)`
   * to the ::before and `transform-style: preserve-3d` to the <li>, but this makes the text
   * extremely blurry and it seems like this workaround is more effort than just having the
   * ::before wrap the shadow instead. :/
   *  
   */
  .initialList li {
    --size: 4px;
    --insetAmt: 2.75;    
  }

  .initialList li::before {
    content: "";
    width: calc(100% - var(--size) * var(--insetAmt));
    height: calc(100% - var(--size) * var(--insetAmt));
    inset: calc(var(--size) * var(--insetAmt) / 2);
    background-color: theme("colors.army.50");
    /* background-blend-mode: multiply; */
    background-size: 450px 250px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 var(--size);
    position: absolute;
    border-radius: inherit;
    /* The attr function will not work here */
    background-image: var(--image-url); 
    z-index: -1;
  } 
   
  .accent-font {
    font-family: "Rokkitt";
  }


</style>
<!-- <script> 
  // const anime = require("/anime.min.js");
  // anime({
  //   targets: 'a[href^="#"]',
  //   translateY: 100
  // });
 </script>-->
<!-- <script data-turbo-track="reload">


  // this script only works bc we do not save any variables
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });

  
</script> -->
